body {
  margin: 0;
  padding: 0;
}

/* common shared style */
body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: rgba(229, 84, 115, 0.1);
  /* padding: 50px 160px 0px 100px; */
}

.banner {
  padding: 50px 160px 0px 100px;
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 300px;
}

.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 45px;
  font-style: normal;
  line-height: normal;
}

.banner-content {
  margin-right: 350px;
}

.primary-btn {
  padding: 10px 15px;
  color: white;
  background-color: #e55473;
  border: none;
  border-radius: 5px;
}

.section-title {
  text-align: center;
  margin-top: 50px;
}
.section-description {
  text-align: center;
}

.section-1 {
  padding: 0px 400px 20px 400px;
}

.border-radius {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-bottom: 150px;
}


.border-radius1 {
    width: 210px;
    height: 250px;
    background-color: rgba(167, 33, 98, 0.15) ;
    border-radius: 150px 150px 0px 0px;
}
.border-radius2 {
    width: 210px;
    height: 250px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 150px 150px 0px 0px;
}
.border-radius3 {
    width: 210px;
    height: 250px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 150px 150px 0px 0px;
}
.photo {
  max-width: 100%;
  max-height: 100%;
}

.flower-name {
  text-align: center;
  margin-top: 5px;
  text-decoration: underline;
}


.delivery-section {
  display: flex;
  width: 100vh;
  gap: 20px;
  justify-content: space-evenly;
  background-color: gray;
  align-items: center;
  margin: auto;
  padding: 20px 30px 20px 30px;
}


.offer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.15);
  margin-top: 100px;
}

.offer-img {
  width: 200px;
}
.offer-info {
  text-align: center;
}
.offer-desc {
  max-width: 400px;
}

.instagram{
  text-align: center;
  margin: 100px auto;
  max-width: 100%;

}
.insta-pictures{
  display: flex;
  gap: 55px;
  justify-content: center;
  

}

.insta-pictures img{
  width: 200px;
}

.deals{
  text-align: center;
}
.input{
  height: 35px;
  width: 500px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}
.latest-deals{
 
  background-image: url(../flower_asset/Rectangle\ 9.png);
  margin: 200px auto;
  padding: 100px 50px;
  background-size: cover;
  width: 880px;
}

.footer-div{
  text-align: center;
  background-color: black;
  color: #FFF;
  padding: 70px;
  margin-top: 100px;
}










